<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>IP 정보 갱신에 성공하셨습니다!</div>
    <button onclick="closeWindow()">닫기</button>
    <script>
      function closeWindow() {
        window.close();
      }
    </script>
  </body>
</html>
