name: CD

on:
  push:
    branches: [main, be-develop]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout...
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install package
        run: |
          cd BE
          npm ci

      - name: Docker Login
        run: docker login -u ${{ secrets.DOCKER_ID }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker
        run: |
          cd BE
          docker build -f Dockerfile -t traveline/traveline-docker .

      - name: Push Docker
        run: |
          cd BE
          docker push traveline/traveline-docker:latest

      - name: SSH Login
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          key: ${{ secrets.SERVER_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            docker login --username ${{ secrets.DOCKER_ID }} --password ${{ secrets.DOCKER_PASSWORD }}
            docker stop traveline-container || true
            docker rm traveline-container || true
            docker image prune -a --force
            docker pull traveline/traveline-docker
            docker run -e DB_HOST=${{ secrets.DB_HOST }} \
            -e DB_PORT=${{ secrets.DB_PORT }} \
            -e DB_USER=${{ secrets.DB_USER }} \
            -e DB_PASSWORD=${{ secrets.DB_PASSWORD }} \
            -e DB_DATABASE=${{ secrets.DB_DATABASE }} \
            -e NCP_ACCESS_KEY_ID=${{ secrets.NCP_ACCESS_KEY_ID }} \
            -e NCP_SECRET_ACCESS_KEY=${{ secrets.NCP_SECRET_ACCESS_KEY }} \
            -e NCP_REGION=${{ secrets.NCP_REGION }} \
            -e JWT_SECRET_ACCESS=${{ secrets.JWT_SECRET_ACCESS }} \
            -e JWT_SECRET_REFRESH=${{ secrets.JWT_SECRET_REFRESH }} \
            -e CLIENT_ID=${{ secrets.CLIENT_ID }} \
            -e TEAM_ID=${{ secrets.TEAM_ID }} \
            -e KEY_ID=${{ secrets.KEY_ID }} \
            -e AUTH_KEY_LINE1=${{ secrets.AUTH_KEY_LINE1 }} \
            -e AUTH_KEY_LINE2=${{ secrets.AUTH_KEY_LINE2 }} \
            -e AUTH_KEY_LINE3=${{ secrets.AUTH_KEY_LINE3 }} \
            -e AUTH_KEY_LINE4=${{ secrets.AUTH_KEY_LINE4 }} \
            -e KAKAO_REST_API_KEY=${{ secrets.KAKAO_REST_API_KEY }} \
            -e AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} \
            -e AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} \
            -e AWS_REGION=${{ secrets.AWS_REGION }} \
            -e GREENEYE_SECRET_KEY=${{ secrets.GREENEYE_SECRET_KEY }} \
            -e GREENEYE_DOMAIN_ID=${{ secrets.GREENEYE_DOMAIN_ID }} \
            -e GREENEYE_SIGNATURE=${{ secrets.GREENEYE_SIGNATURE }} \
            -d -p ${{secrets.EXTERNAL_PORT}}:${{secrets.INTERNAL_PORT}} \
            -v /root/static:/app/static \
            -v /root/logs:/app/logs \
            --name traveline-container traveline/traveline-docker
